  <head>

    <meta charset="utf-8">

    <title>Search</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

<br><br>
  <div id="search">
    <div class=" searchbartop small-6 small-centered columns"></div>
    <div class="search square searchbarcenter small-6 small-centered columns searchcolor">
      <%= form_tag blogs_path, :method => 'get', :id => "blogs_search" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: 'Filter Your Search Here' %>
        </p>
    </div>
  </div>
  <div id="blogs"></div>
      <% end %>

<script>

$(function(){
  $('#search').click(function(e){
    var search = $(e.target)
    if (search.hasClass('fly') === false){
      search.addClass('fly');
    }
  })
})
var unfavoriteBlog = function(e){
      e.preventDefault();
      var target = $(e.target);
      $('.unfavorite', target.parent().parent()).toggle();
      $('.favorite', target.parent().parent()).toggle();
      $.get('blogs/' + target.data('blog-id') + '/unfavorite', function(response){
      });
  }

  var favoriteBlog = function(e){
      e.preventDefault();
      var target = $(e.target);
      $('.unfavorite', target.parent().parent()).toggle();
      $('.favorite', target.parent().parent()).toggle();
      $.get('blogs/' + target.data('blog-id') + '/favorite', function(response){
      });
  }

  var likeBlog = function(e){
      e.preventDefault();
      var target = $(e.target);
      $.get('blogs/' + target.data('blog-id') + '/like', function(response){
      });
  }

  var dislikeBlog = function(e){
      e.preventDefault();
      var target = $(e.target);
      $.get('blogs/' + target.data('blog-id') + '/dislike', function(response){
      });
  }

  </script>
