<h1>Welcome, <% if current_user.first_name == '' || current_user.first_name.nil? %> 
              <%= current_user.email %>
              <% else %>
              <%= "#{current_user.first_name} #{current_user.last_name }" %>
              <% end %> </h1>
              
<h2> Favorite Blogs </h2>

<h2> Most Recent Blogs </h2>
