// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite, .unfavorite {
  display: none;
}

.show {
  display: block;
}

.searchbarcenter {
  margin-top: 250px;
}

#search {
  margin-top: 0;
  transition: 0.4s;
  height: 3em;
  border-radius: 15px;
}

#search input {
  background-color: #ddffdd;

}

.fly {
  margin-top: -270px !important;
}

.pagination {
  background-color: none;
  margin-top: -20px;
  margin-left: 560px;
}

.form-inputs {
  width:900px;
  padding:5px;
}

.form-actions {
  padding-left:35%;
}

.newblogheader {
  position:fixed;
  left:485px;
}

.signinheader {
  position:fixed;
  left:570px;
}

.signupheader {
  position:fixed;
  left:570px;
}

.contactheader {
  position:fixed;
  left:400px;
}

.aboutheader {
  position:fixed;
  left:500px;
}

.containerdiv{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.verifylist {
  td {
    top: 50%;
    text-align:center;
    a {
      vertical-align:middle;
    }
  }
}

.formfont {
  font-family: helvetica, sans-serif;
  color: #0C140F;
  font-size: 20px;
  letter-spacing: 0pt;
  word-spacing: -0.2pt;
  line-height: 1.2;
  font-weight:bold;
}

.tableposition {
  td{
    top: 50%;
    text-align:center;
  }
  th{
    top: 50%;
    text-align:center;
  }
  a{
    vertical-align:middle;
    font-size:1.25em;
  }
}

.siteheader {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.centerbutton{
  margin-left: 5%;
  margin-right: 95%;
}

.centerbuttonsignin{
  margin-left: 7%;
  margin-right: 93%;
}

.centerbuttoncomment{
  margin-left: 35%;
  margin-right: 65%;
  width: 200px;
}
