<div class="siteheader"><h1> Blog Verification </h1></div>
<% if @blogs.count != 0 %>
    <div class="containerdiv">
      <table align="center" id="responsive" class="table tableposition verifylist">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
          <tr>
            <td><%= link_to blog.name, edit_admin_blog_path(blog) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% else %>
  <div class="siteheader"><h2> No Blogs to Verify! </h2></div>
<% end %>


