<h1> Blog Verification </h1>
<% if @blogs.count != 0 %>
  <% @blogs.each do |blog| %>
    <div><%= link_to blog.name, edit_admin_blog_path(blog) %></div>
  <% end %>
<% else %>
  <h2> No Blogs to Verify! </h2>
<% end %>
